In [80]:
import pandas as pd
import numpy as np

In [81]:
#Loading the dataset into pandas dataframe
df=pd.read_csv("Avacado.csv")

In [82]:
#checking 1st 5 rows of the data set
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0.0,27-12-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015.0,Albany
1,1.0,20-12-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015.0,Albany
2,2.0,13-12-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015.0,Albany
3,3.0,06-12-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015.0,Albany
4,4.0,29-11-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015.0,Albany

In [83]:
#checking no.of rows and columns for the data set

df.shape

(16468, 14)

No.of rows=16468

No.of columns= 14

Here average price is the target column.

Checking  data types of each column:

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16468 entries, 0 to 16467
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1517 non-null   float64
 1   Date          1517 non-null   object
 2   AveragePrice  1517 non-null   float64
 3   Total Volume  1517 non-null   float64
 4   4046          1517 non-null   float64
 5   4225          1517 non-null   float64
 6   4770          1517 non-null   float64
 7   Total Bags    1517 non-null   float64
 8   Small Bags    1517 non-null   float64
 9   Large Bags    1517 non-null   float64
 10  XLarge Bags   1517 non-null   float64
 11  type          1517 non-null   object
 12  year          1517 non-null   float64
 13  region        1517 non-null   object
dtypes: float64(11), object(3)
memory usage: 1.8+ MB

In [85]:
#checking for nulls

df.isnull().sum()

Unnamed: 0      14951
Date            14951
AveragePrice    14951
Total Volume    14951
4046            14951
4225            14951
4770            14951
Total Bags      14951
Small Bags      14951
Large Bags      14951
XLarge Bags     14951
type            14951
year            14951
region          14951
dtype: int64

Out of 16468 rows there are 

1)14951 rows with null values

2)1517(16468-14951) rows with non null values

In [86]:
# dropping the empty rows which records null values for every column

df.dropna(axis=0,how='all',inplace=True)

In [87]:
#lets check the dataframe  after treating nulls

df.shape

(1517, 14)

In [88]:
df.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [89]:
df['Date'].nunique()

104

In [90]:
df['Date'].value_counts()

05-04-2015    34
12-04-2015    34
19-04-2015    33
29-03-2015    32
10-05-2015    32
              ..
19-06-2016     3
17-07-2016     3
07-08-2016     3
24-07-2016     3
11-09-2016     2
Name: Date, Length: 104, dtype: int64

In [91]:
df['year'].value_counts()

2015.0    1270
2016.0     247
Name: year, dtype: int64

OSBERVATION:

This data contains sales information of two years(2015 & 2016)

In [92]:
df['type'].value_counts()

conventional    1517
Name: type, dtype: int64

OBSERVATION::

This data contains information about only conventional type of avocados.

As there is only one type of avocados, this column wont affect much on prices.

Any inference we draw using this data set is always going to be about Conventional avocados.

Hence,dropping this column.

In [93]:
df.drop(['type'],axis=1,inplace=True)

we can observe that Toal bags columns is the sum of small bags and large bags.

Hence dropping the Total bags columns

In [94]:
df.drop(['Total Bags'],axis=1,inplace=True)

In [95]:
#checking different regions and how many rows they have.
df['region'].value_counts()

California             76
Albany                 67
BaltimoreWashington    65
Boise                  65
Boston                 62
Atlanta                54
PhoenixTucson          52
BuffaloRochester       51
Spokane                49
Columbus               47
NewYork                44
Jacksonville           41
Detroit                40
SouthCentral           39
SanDiego               38
West                   36
Tampa                  34
Louisville             34
Charlotte              31
Portland               30
NorthernNewEngland     29
Houston                29
WestTexNewMexico       27
Nashville              25
TotalUS                25
Denver                 24
SouthCarolina          24
Chicago                23
GrandRapids            23
Pittsburgh             22
RichmondNorfolk        21
Orlando                21
Syracuse               19
HarrisburgScranton     19
GreatLakes             18
Midsouth               18
DallasFtWorth          17
MiamiFtLauderdale      17
Roanoke                17
Indianapolis           16
StLouis                16
RaleighGreensboro      16
SanFrancisco           15
HartfordSpringfield    13
Philadelphia           13
Plains                 12
Northeast              12
LasVegas               10
Southeast               9
Seattle                 9
LosAngeles              3
Name: region, dtype: int64

As date column is of object type, converting it to date type for further data manipulations

In [96]:
df["Date"]=pd.to_datetime(df['Date'])

In [97]:
#Checking month wise  sales in each year
df.groupby(df['Date'].dt.strftime('%B,%Y'))['AveragePrice'].sum().sort_values()

Date
September,2016     15.17
August,2016        18.21
May,2016           18.85
December,2016      19.41
June,2016          21.58
January,2016       22.21
July,2016          22.32
April,2016         22.70
February,2016      23.61
October,2016       31.53
March,2016         33.18
November,2016      35.65
July,2015          72.13
October,2015       76.31
September,2015     82.58
February,2015      86.93
April,2015        110.17
November,2015     111.38
June,2015         118.77
January,2015      123.71
December,2015     126.53
March,2015        135.40
August,2015       149.93
May,2015          152.50
Name: AveragePrice, dtype: float64

OBSERVATION::
        
        1)Average prices are higher in 2015 compared to 2016 [i.e- Avocado prices reduced in 2016]
        
        2)In 2016,prices are lower in september month,maximum in November
        
        3)In 2015,prices lower in july,maximum in May

In [98]:
df.groupby(df['region'])['AveragePrice'].sum().sort_values()

region
LosAngeles              2.59
Seattle                 9.47
Southeast               9.82
LasVegas               10.41
Plains                 12.62
DallasFtWorth          12.85
Northeast              14.84
HartfordSpringfield    15.72
Philadelphia           16.82
SanFrancisco           17.26
Indianapolis           18.02
Roanoke                18.64
RaleighGreensboro      18.66
Midsouth               19.46
GreatLakes             19.93
MiamiFtLauderdale      20.00
StLouis                20.16
WestTexNewMexico       20.45
RichmondNorfolk        21.10
HarrisburgScranton     21.99
Houston                22.64
Orlando                23.80
TotalUS                25.29
Syracuse               25.60
SouthCarolina          25.71
Nashville              25.71
Pittsburgh             25.93
Denver                 25.94
GrandRapids            26.15
Chicago                27.94
Portland               31.31
SouthCentral           31.93
NorthernNewEngland     32.22
West                   33.87
PhoenixTucson          34.31
Louisville             35.46
Tampa                  36.34
SanDiego               37.75
Charlotte              40.66
Detroit                41.65
Jacksonville           45.66
Columbus               47.59
Spokane                53.71
Atlanta                54.65
NewYork                54.94
Boise                  63.37
BuffaloRochester       66.38
Boston                 74.74
BaltimoreWashington    75.46
California             80.25
Albany                 82.99
Name: AveragePrice, dtype: float64

# OBSERVATION:
    
    Regions with lower prices:
        1)LosAngeles              
        2)Seattle
        3)South east
    
    Regions with higher prices:
        1)Albany
        2)California
        3)BaltimoreWashington

In [99]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Small Bags,Large Bags,XLarge Bags,year,region
0,0.0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8603.62,93.25,0.0,2015.0,Albany
1,1.0,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9408.07,97.49,0.0,2015.0,Albany
2,2.0,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8042.21,103.14,0.0,2015.0,Albany
3,3.0,2015-06-12,1.08,78992.15,1132.00,71976.41,72.58,5677.40,133.76,0.0,2015.0,Albany
4,4.0,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,5986.26,197.69,0.0,2015.0,Albany

In [100]:
df['XLarge Bags'].nunique()

711

In [101]:
df['Unnamed: 0'].nunique()

52

In [102]:
df['Unnamed: 0'].value_counts()

38.0    40
37.0    40
36.0    39
40.0    38
39.0    38
33.0    38
35.0    38
34.0    37
41.0    37
43.0    36
42.0    36
44.0    35
32.0    34
45.0    34
31.0    33
46.0    33
29.0    33
30.0    32
28.0    31
47.0    30
6.0     28
27.0    28
2.0     28
5.0     28
1.0     28
4.0     28
3.0     28
0.0     27
48.0    27
7.0     27
8.0     26
25.0    26
49.0    26
26.0    26
20.0    25
19.0    24
10.0    24
50.0    24
24.0    24
21.0    24
18.0    24
9.0     24
11.0    24
12.0    24
17.0    24
13.0    23
22.0    23
23.0    23
14.0    23
16.0    23
51.0    23
15.0    21
Name: Unnamed: 0, dtype: int64

In [103]:
df['Day']=df['Date'].dt.day
df['Month']=df['Date'].dt.month

In [104]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Small Bags,Large Bags,XLarge Bags,year,region,Day,Month
0,0.0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8603.62,93.25,0.0,2015.0,Albany,27,12
1,1.0,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9408.07,97.49,0.0,2015.0,Albany,20,12
2,2.0,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8042.21,103.14,0.0,2015.0,Albany,13,12
3,3.0,2015-06-12,1.08,78992.15,1132.00,71976.41,72.58,5677.40,133.76,0.0,2015.0,Albany,12,6
4,4.0,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,5986.26,197.69,0.0,2015.0,Albany,29,11

In [105]:
df.drop(['Date'],axis=1,inplace=True)

In [106]:
df.head()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Small Bags,Large Bags,XLarge Bags,year,region,Day,Month
0,0.0,1.33,64236.62,1036.74,54454.85,48.16,8603.62,93.25,0.0,2015.0,Albany,27,12
1,1.0,1.35,54876.98,674.28,44638.81,58.33,9408.07,97.49,0.0,2015.0,Albany,20,12
2,2.0,0.93,118220.22,794.70,109149.67,130.50,8042.21,103.14,0.0,2015.0,Albany,13,12
3,3.0,1.08,78992.15,1132.00,71976.41,72.58,5677.40,133.76,0.0,2015.0,Albany,12,6
4,4.0,1.28,51039.60,941.48,43838.39,75.78,5986.26,197.69,0.0,2015.0,Albany,29,11

# EDA

# Checking for skewness

In [ ]:
df.skew()

Skewness is present in almost all the columns

# Checking correlation

In [ ]:
df_cor=df.corr()

In [ ]:
df_cor

# plotting correlations

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

plt.figure(figsize=(10,10))
sns.heatmap(df_cor,cmap='OrRd_r',annot=True)

# OBSERVATION:

as cregion column is of object data type , converting it to numeric through label encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['region']=le.fit_transform(df['region'])

# Removing Outliers::

In [ ]:
from scipy.stats import zscore
z=np.abs(zscore(df))
print(z)
threshold=3
print(np.where(z>threshold))

In [ ]:
#removing outliers

df1=df[(z<3).all(axis=1)]

print("With out removing outliers::",df.shape)
print("After removing outliers::",df1.shape)

5% data removed after tresting outliers

In [ ]:
x=df1.drop(['AveragePrice'],axis=1)
x.shape

In [ ]:
y=df1['AveragePrice']
y.shape

In [ ]:
y=y.values.reshape(-1,1)

In [ ]:
y.shape

# Removing skewness:

In [ ]:
from sklearn.preprocessing import power_transform

In [ ]:
x=power_transform(df1,method='yeo-johnson')

# Checking for best random sate with highest accuracy for different models

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import warnings
warnings.simplefilter('ignore')

In [ ]:

best_Randstate=0
accuracy=0
model=[LinearRegression(),RandomForestRegressor(),AdaBoostRegressor(),SGDRegressor(),Lasso(),Ridge()]
for m in model:
            for i in range(20,100):
                                    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.33,random_state=i)
                                    m.fit(x_train,y_train)
                                    predicted_y=m.predict(x_test)
                                    accu_temp=r2_score(y_test,predicted_y)
                                    if(accu_temp>accuracy):
                                                accuracy=accu_temp
                                                best_Randstate=i
            print("Acuuracy of ",accuracy,"for Model::",m,"found in Random state:",best_Randstate)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=57)

Choosing Linear Regression model

In [ ]:
lm=LinearRegression()

lm_score=cross_val_score(lm,x,y,cv=5,scoring='r2')

print("cross validation score:",np.mean(lm_score))

In [ ]:
lm.fit(x_train,y_train)
predicted_lm=lm.predict(x_test)
print("Accuracy score::",r2_score(y_test,predicted_lm))
print("Training accuracy::",lm.score(x_train,y_train))
print("Test accuracy::",lm.score(x_test,y_test))

As 99.8 seems to be a very good score,there is no need of tuning hyper parameters.

# Saving the model

In [ ]:
import joblib

In [ ]:
joblib.dump(lm,'AvocadoPricePredict_Linear.obj')

# USING CLASSIFICATION MODEL FOR REGIONS predictions

In [ ]:
clasf_x=df1.drop(['region'],axis=1)
clasf_x.shape

In [ ]:
clasf_y=df1['region']
clasf_y.shape

In [ ]:
clasf_y=clasf_y.values.reshape(-1,1)

In [ ]:
clasf_y.shape

In [ ]:
clasf_x.skew()

In [ ]:
clasf_x=power_transform(df1,method='yeo-johnson')

In [ ]:
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:

best_Randstate=0
accuracy=0
model=[LogisticRegression(),SVC(),DecisionTreeClassifier(),KNeighborsClassifier(),RandomForestClassifier()]
for m in model:
            for i in range(20,100):
                                    clasx_train,clasx_test,clasy_train,clasy_test=train_test_split(clasf_x,clasf_y,test_size=.33,random_state=i)
                                    m.fit(clasx_train,clasy_train)
                                    predict_y=m.predict(clasx_test)
                                    accu_temp=accuracy_score(clasy_test,predict_y)
                                    if(accu_temp>accuracy):
                                                accuracy=accu_temp
                                                best_Randstate=i
            print("Acuuracy of ",accuracy,"for Model::",m,"found in Random state:",best_Randstate)

In [ ]:
dtc=DecisionTreeClassifier()

dtc_score=cross_val_score(dtc,clasf_x,clasf_y,cv=5,scoring='accuracy')

print("cross val score of  Decision tree Model:",np.mean(dtc_score))

In [ ]:
dtc.fit(clasx_train,clasy_train)
predicted_dtc=dtc.predict(clasx_test)
print("Accuracy score::",accuracy_score(clasy_test,predicted_dtc))
print("Training accuracy::",dtc.score(clasx_train,clasy_train))
print("Test accuracy::",dtc.score(clasx_test,clasy_test))

In [ ]:
lr=LogisticRegression()

lr_score=cross_val_score(lr,clasf_x,clasf_y,cv=5,scoring='accuracy')

print("cross val score of  Logistic Regression Model:",np.mean(lr_score))

In [ ]:
lr.fit(clasx_train,clasy_train)
predicted_lr=lr.predict(clasx_test)
print("Accuracy score::",accuracy_score(clasy_test,predicted_dtc))
print("Training accuracy::",dtc.score(clasx_train,clasy_train))
print("Test accuracy::",dtc.score(clasx_test,clasy_test))

# Hyper Parameter tuning:

In [ ]:
parameters = {'max_depth' : (3,5,7,9,10,15,20,25)
              , 'criterion' : ('gini', 'entropy')
              , 'max_features' : ('auto', 'sqrt', 'log2')
              , 'min_samples_split' : (2,4,6)
             }

In [ ]:
from sklearn.model_selection import GridSearchCV

Dt_grid=GridSearchCV(DecisionTreeClassifier(),parameters,cv=10,scoring='accuracy')

In [ ]:
Dt_grid.fit(clasx_train,clasy_train)
Dt_grid.best_estimator_
gcv_pred=Dt_grid.best_estimator_.predict(clasx_test)
print("Accuracy after parameter tuning::",accuracy_score(clasy_test,gcv_pred))

# LOGISTIC REGRESSION: hyper parameters

In [ ]:

    
    parameters={'C': [0.001, 0.01, 0.1, 1],
            'penalty':['l2'],
            'solver': ['lbfgs']
    
}

In [ ]:
log_grid=GridSearchCV(LogisticRegression(),parameters,cv=5,scoring='accuracy')

In [ ]:
log_grid.fit(clasx_train,clasy_train)
log_pred=log_grid.best_estimator_.predict(clasx_test)

In [ ]:
print("Accuracy after parameter tuning::",accuracy_score(clasy_test,log_pred))

# SAVING MODEL:

In [ ]:
import joblib

joblib.dump(log_grid.best_estimator_,"AvocadologisticPred.obj")